.wrapper {
    display: flex;
    flex-direction:column;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.items {
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.images {
    line-height: 0;
    img {
        width: 250px;
        height: 250px;
    }
}
.item {
    padding-top: 10px;
    width: 250px;
    height: 150px;
    font-size: 32px;
    text-align: center;
    border-style: solid;
    border-color: #F99E26;
    display:flex;
    flex-direction:column;
}