@use './styles/variables' as vars;
@import './styles/variables';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    label {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 50vh;

        margin: 25px;

        color: $muse-green;
        font-weight: 700;
        font-size: 150%;

    }

    input {
        border-color: $muse-blue;
    }
    input:focus {
        border: 3px solid;
    }
}