@use './styles/variables' as vars;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    label {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}