@use 'variables' as vars;
.main {
    display: flex;
    flex-direction: column;
}
.hero {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    align-items:center;
    &-sm{
        min-height: 150px;
        background: vars.$muse-orange;
    }
    &-md{
        min-height: 300px;
        background: vars.$muse-orange;
    }
    &-lg{
        min-height: 450px;
        background: vars.$muse-orange;
    }
}
.wrapper {
    width: 80%;
    align-self:center;
}
.flex-col {
    display:flex;
    flex-direction: column;
}
