@use 'variables' as vars;

.wrapper {
    display: flex;
    margin:40px 0px;
    flex-direction:row;
    @media(max-width: 860px) {
        flex-direction:column;
    }
}

.image {
    display: flex;
    flex-direction:column;
    & > img {
        margin-top: 20px;
        width: 600px;
        height: 600px;
        @media(max-width: 860px) {
            width: 100%;
            height: 350px;
        }
    }
    flex: 2;
}
.body {
    flex: 1;
    display: flex;
    flex-direction:column;
}
.content{
    display: flex;
    flex-direction:column;
    height: 100%;
    @media(max-width: 860px) {
        width:100%;
    }
}
.title {
    display: flex;
    & > h1 {
        color: vars.$muse-green;
    }
}

.price {
    font-size: 24px;
    font-weight: 600;
}

.stock {
    font-size: 20px;
    &.inStock {
        color: vars.$muse-green;
    }
    &.lowStock{
        color: vars.$muse-orange;
    }
    &.noStock {
        color: #de603a;
    }
}

.description {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    @media (min-width: 860px){   
        height: auto;
    }
}

.button {
    border: none;
    margin: 20px 0px;
    text-align:center;
    font-size: 24px;
    font-family: vars.$font-body;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    align-self:center;
    background-color: vars.$muse-orange;
    cursor:pointer;
    margin-top: auto;
    transition: 0.4s ease;
    &:hover {
        background-color: vars.$muse-green;
    }
    @media (max-width: 860px) {
        width:100%;
    }
}

.quantity {
    display: flex;
    flex-direction:column;
    font-size: 30px;
    padding-right: 10%;
    & > h4 {
        color: vars.$muse-green;
    }
    input {
        width: 100px;
        border: 1px solid #e3e3e3;
        box-shadow: 0px 0px 3px #e3e3e3;
        @media only screen and (max-width: 1000px) {
            margin-bottom: 20px;
        }
    }
}

.variation { 
    width: 100%;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 0px 3px #e3e3e3;
    @media only screen and (max-width: 1000px) {
        margin-bottom: 20px;
    }
}
.variationName { 
    color: vars.$muse-green;
}
.cartSuccess{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    background-color: vars.$muse-light-blue;
    color: white;
    margin-bottom: 20px;
}

.cartSuccessText{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    flex: 1;
}

.cartButton{
    width: auto;
    height: auto;
    min-width: 100px;
    position: relative;
    display: inline-block;
    padding: 15px 10px;
    background-color: vars.$muse-blue;
    color: white;
    text-align: center;
    text-decoration: none;
    flex: 0;
}
