@use 'variables' as vars;
.wrapper { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: vars.$font-body;
    h1 {
        font-size: 40px;
    }
}

.wrap {
    padding: 0px 5%;
}

.slideShow { 
    display: flex;
    flex-direction:column;
    & > img {
        max-width: 1200px;
        height: 600px;
        margin: 40px 0;
        border: 3px solid vars.$muse-orange;
        width: 100%;
        align-self:center;
        @media only screen and (max-width: 1000px) {
            //TODO: Not exactly sure how mobile styling should be done. 
            width: 80%;
            height: 80%;
        }
    }
}

.coreValues{
    padding-top: 40px;
}


.saturn{
    height: auto;
    position: absolute;
    animation: saturnRotate 30s linear infinite;
    @media screen and (min-width: 980px){
        width: 200px;
        top: 500px;
        right: -60px;
        bottom: 250px;
    }
    @media screen and (max-width: 980px){
        width: 100px;
        top: 950px;
        right: -30px;
        bottom: 250px;
    }
}

@keyframes saturnRotate{
    from{
        transform: rotate(359deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.astronaut{
    height: auto;
    position: absolute;
    animation: astronautFloat 15s ease-in-out infinite;
    @media screen and (min-width: 980px){
        width: 300px;
        top: 90px;
        left: -40px;
        bottom: 250px;
    }
    @media screen and (max-width: 980px){
        width: 135px;
        top: 90px;
        left: -40px;
        bottom: 250px;
    }
}

@keyframes astronautFloat{
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-100px);
    }
    100% {
        transform: translatey(0px);
    }
}

.planet{
    height: auto;
    position: absolute;
    animation: planetRotate 30s linear infinite;
    @media screen and (min-width: 980px){
        width: 275px;
        left: -75px;
        bottom: 50px;
    }
    @media screen and (max-width: 980px){
        width: 175px;
        top: 1750px;
        left: -75px;
        bottom: 250px;
    }
}

@keyframes planetRotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

