@use 'variables' as vars;
.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}
.hero {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    align-items:center;
    &-sm{
        min-height: 150px;
        background: vars.$muse-orange;
    }
    &-md{
        min-height: 300px;
        background: vars.$muse-orange;
    }
    &-lg{
        min-height: 450px;
        background: vars.$muse-orange;
    }
}
.wrapper {
    width: 90%;
    align-self:center;
    display:flex;
    flex-direction:column;
}
.homeWrapper {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    padding: 40px 0px;
}
.flex-col {
    display:flex;
    flex-direction: column;
}
