@use 'variables' as vars;
.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
}
.hero {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
    align-items:center;
    &-sm{
        min-height: 150px;
        background: vars.$muse-orange;
    }
    &-md{
        min-height: 350px;
        position: relative;
        background-position: center !important;
        background-size: cover !important;
        background-attachment: fixed !important;
        text-align: center;
    }
    &-lg{
        min-height: 450px;
        background: vars.$muse-orange;
    }
    h1{
        position: relative;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
    }
}
.imageOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(249, 158, 38, 0.50);
}
.wrapper {
    width: 90%;
    align-self:center;
    display:flex;
    flex-direction:column;
}
.homeWrapper {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    padding: 40px 0px;
}
.flex-col {
    display:flex;
    flex-direction: column;
}
