div.container {
  padding-right: 20px;
  @media only screen and (max-width: 1100px) {
    max-width: 470px;
    margin: 0 auto;
    padding-right: 0;
  }
  @media only screen and (max-width: 575px) {
    width: 85%;
  }

  // "Categories" Header
  header {
    font-size: 1.75em;
    margin: 0;
    padding: 17.5px 0;
    text-align: center;
    @media only screen and (max-width: 1100px) {
      font-size: 1.5em;
      padding: 17.5px 7.5px 17.5px 15px;
      text-align: left;
      background-color: rgba(156,192,60,0.37);
    }

    span {
      font-weight: bold;
    }
    button {
      font-size: 1.5em;
      float: right;
      background-color: transparent;
      border: none;
      color: #ffffff;
      display: none;
      &:hover {
        cursor: pointer;
      }
      @media only screen and (max-width: 1100px) {
        display: inline-block;
      }
    }
  }
}

// Categories Container
div.categories {
  width: 100%;
  min-height: 65%;
  padding: 30px;
  background: rgba(156,192,60,0.37);
  @media only screen and (max-width: 1100px) {
    min-height: unset;
    height: 0;
    padding: 0 20px;
    // Using max-height for collapse animation.
    transition: max-height 0.35s ease-out;
    overflow-y: hidden;
    border-top: 2px solid rgba(156,192,60,0.37);
  }

  // Categories' Buttons
  a {
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 0 15px 0;
    display: table;
    text-decoration: none;
    color: #000000;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}